/* General */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cd1ee8, #55079f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Box */
.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Title */
.login-box h2 {
    margin-bottom: 25px;
}

/* Input Groups */
.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #4e54c8;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: #4e54c8;
    background: white;
    padding: 0 5px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #4e54c8;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #3bc1a8;
}

/* Error Message */
.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}