
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f5f5f5;
}

/* Navbar */
nav {
    background-color: #4CAF50;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: 100vh;
    background-color: #e0f7fa;
    padding: 4rem 2rem;
}

.hero h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #00796b;
}

.hero p {
    font-size: 1.2rem;
    color: #004d40;
}


/* Footer */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Responsive */
@media(max-width:768px){
    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }
    .features {
        flex-direction: column;
        align-items: center;
    }
    .team-members {
        flex-direction: column;
        align-items: center;
    }
}

.logo {
    height: 140px;
    margin-right: 10px;
    border-radius: 20%;
    }

.hero div {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.hero div img {
    height: 50%;
    width: 80%;
    border-radius: 15%;
}